<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="Login.css">
  </head>
  <body>
    <div class="loginpage">
      <div class="container">
        <h1>Login</h1>
        <form>
          <div class="username">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" />
          </div>
          <div class="password">
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="Password" />
          </div>
        </form>
        <button
          class="loginBtn"
          onclick="window.location.href = 'TransactionPage.html'"
        >
          Login
        </button>
      </div>
    </div>
  </body>
</html>
