*{
    margin: 0;
    padding: 0;
}

.registrationpage{
    margin: 10px;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.container{
    width: 1000Px;
    background-color: rgb(47, 45, 45);
    height: fit-content;
    box-sizing: border-box;
    border: 3px;
    /* opacity: 0.5; */
    margin: auto;
    margin-top: 20px;
    border-color: black;
    border-radius: 3px;
    box-shadow: 5px 5px rgb(19, 19, 17);
}

h1{
    margin: auto;
    width: fit-content;
    color: white;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    margin: auto;
    width: fit-content;
    /* background-color: green; */
    height: fit-content;
    padding: 50px;
}


form > div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 40px;
}



input{
    height: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

/* .fullname{
    display: flex;   
    flex-direction: row;
} */

button{
    margin: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    width: 200px;
    background-color: teal;
    border: none;
    border-radius: 3px;
    margin-left: 40%;
    margin-bottom: 30px;
}

div:hover{
    border: 2px;
    border-color: yellow;
}